@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to Project0 - Banking Application</h2>
    <h6>Brought to you by Andrew Zinke</h6>
</div>

<div class="row">
    <div align="center">
        <h4>View Customer Information!</h4>
        <p align="center">
            This Application allows a user to log in as an employee to view Customer banking information!</P>
        <p align="center">  To get started, click on the Customers tab in the menu above.</p>
    </div>
</div>